.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/unleash.jpg");
  min-height: 87.8dvh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: white;
}

.hero-text h1 {
  font-size: 50px;
}

.hero-text p {
  font-size: 20px;
}


.hero-text a {
  color: white;
}



.headerNavBar {
  padding: 1rem;
  background-color: #000000;
}



.mainNavBar {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.mainNavBar a {
  text-decoration: none;
  color: #f6f6f6;
  cursor: pointer;
  font-weight: 500;
}

.mainNavBar a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.listNavBar {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.listNavBar a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  font-weight: 500;
}


.listNavBar a:hover {
  color: #071E22;
  text-decoration: underline;
}

.shoeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 286px);
  margin-left: 1.5rem;
}

.shoeCard {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  padding: 0.5rem;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 5px solid black;
  margin: 1rem;
}



.shoeCard:hover {
  outline: 3px solid black;
  cursor: pointer;
}

.shoeCard img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50%;
}

.cardDescription {
  width: 230px;
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}


.shoeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 30rem;
  margin: auto;
  background-color: #ffffff;
}

.shoeItem label {
  display: inline-block;
  width: 100px;
}



.shoeItem input {
  display: inline-block;
  width: 250px;
}


.shoeItem textarea {
  height: 50px;
  width: 250px;
}

.shoeItem img {
  width: 20rem;
  border-radius: 4px;
}

.shoeDescription {
  color: #cccccc;
}

.shoeItem a {
  color: black;
}

.shoeAction {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.shoeAction a,
.shoeAction button {
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
}

.shoeAction button {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 3px;
  background-color: #000000;
  ;
}




/* Loader css */


.lds-dual-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #ffffff;
  border-color: #0a0000 transparent #000000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}